.vscode/
cd-hit/
EMBOSS-6.6.0/
julia-1.8.2/
ncbi-blast-2.8.1+/
*.mutss
*.bmk
*.mut
*.metrics
*.recres
*.toolres
*.res
*.ssfa
*.sspfa
*.txt
*.fa
*.ala
*.clstr
*.png
*.pdb
*.cif
*.log
*.acc
*.acc_simp
*.all
*.diso
*.diso_simp
*.fasta
*.seq
*.ss3
*.ss8
*.ss3_simp
*.ss8_simp
*.summary
*.tm2
*.tm8
*.tm2_simp
*.tm8_simp
*_noprof
*.dat
*.rsa
*.dssp
*.mmcif
*.spot1d
*.csv
*.ss2
*.tar.gz